<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.erp.dao.ChlclashfunddetailsoneDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.erp.entity.Chlclashfunddetailsone">
        <id column="Billid" property="Billid" />
        <result column="Cotemark" property="Cotemark" />
        <result column="Sinname" property="Sinname" />
        <result column="Originbillid" property="Originbillid" />
        <result column="Originodddate" property="Originodddate" />
        <result column="Originoddmoney" property="Originoddmoney" />
        <result column="Currentlybalance" property="Currentlybalance" />
        <result column="Discountmoney" property="Discountmoney" />
        <result column="Clashmoney" property="Clashmoney" />
        <result column="Enables" property="Enables" />
        <result column="Safetyone" property="Safetyone" />
        <result column="Safetytwo" property="Safetytwo" />
        <result column="Extend0" property="Extend0" />
        <result column="Extend1" property="Extend1" />
        <result column="Extend2" property="Extend2" />
        <result column="Extend3" property="Extend3" />
        <result column="Extend4" property="Extend4" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Billid, Cotemark, Sinname, Originbillid, Originodddate, Originoddmoney, Currentlybalance, Discountmoney, Clashmoney, Enables, Safetyone, Safetytwo, Extend0, Extend1, Extend2, Extend3, Extend4
    </sql>

</mapper>
