<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.erp.dao.ChlclashfundDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.erp.entity.Chlclashfund">
        <id column="Billid" property="Billid" />
        <result column="Billdate" property="Billdate" />
        <result column="Sinid" property="Sinid" />
        <result column="Cliid" property="Cliid" />
        <result column="Clishortname" property="Clishortname" />
        <result column="Currencytype" property="Currencytype" />
        <result column="Reckontypef" property="Reckontypef" />
        <result column="Reckontypes" property="Reckontypes" />
        <result column="Reckontypet" property="Reckontypet" />
        <result column="Reckonmoneyf" property="Reckonmoneyf" />
        <result column="Reckonmoneys" property="Reckonmoneys" />
        <result column="Reckonmoneyt" property="Reckonmoneyt" />
        <result column="Gatherdiscount" property="Gatherdiscount" />
        <result column="Gatherendaccountmonth" property="Gatherendaccountmonth" />
        <result column="Empid" property="Empid" />
        <result column="Empname" property="Empname" />
        <result column="Depid" property="Depid" />
        <result column="Depname" property="Depname" />
        <result column="Makeempname" property="Makeempname" />
        <result column="Auditingempname" property="Auditingempname" />
        <result column="Checkstate" property="Checkstate" />
        <result column="Remark" property="Remark" />
        <result column="Enables" property="Enables" />
        <result column="Safetyone" property="Safetyone" />
        <result column="Safetytwo" property="Safetytwo" />
        <result column="Extend0" property="Extend0" />
        <result column="Extend1" property="Extend1" />
        <result column="Extend2" property="Extend2" />
        <result column="Extend3" property="Extend3" />
        <result column="Extend4" property="Extend4" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        Billid, Billdate, Sinid, Cliid, Clishortname, Currencytype, Reckontypef, Reckontypes, Reckontypet, Reckonmoneyf, Reckonmoneys, Reckonmoneyt, Gatherdiscount, Gatherendaccountmonth, Empid, Empname, Depid, Depname, Makeempname, Auditingempname, Checkstate, Remark, Enables, Safetyone, Safetytwo, Extend0, Extend1, Extend2, Extend3, Extend4
    </sql>

</mapper>
