<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.accp.erp.dao.YxrequisitionsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.accp.erp.entity.Yxrequisitions">
        <id column="billNO" property="billNO" />
        <result column="billDate" property="billDate" />
        <result column="billStyleID" property="billStyleID" />
        <result column="billStyleName" property="billStyleName" />
        <result column="billStatus" property="billStatus" />
        <result column="salesID" property="salesID" />
        <result column="salesName" property="salesName" />
        <result column="departID" property="departID" />
        <result column="departName" property="departName" />
        <result column="maker" property="maker" />
        <result column="permitter" property="permitter" />
        <result column="remark" property="remark" />
        <result column="data1" property="data1" />
        <result column="data2" property="data2" />
        <result column="data3" property="data3" />
        <result column="data4" property="data4" />
        <result column="data5" property="data5" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        billNO, billDate, billStyleID, billStyleName, billStatus, salesID, salesName, departID, departName, maker, permitter, remark, data1, data2, data3, data4, data5
    </sql>
	
	<select id="selectLikeBillNO" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List"/> FROM `yxrequisitions` WHERE `billNO` LIKE concat(#{billNO},'%') ORDER BY `billNO` DESC LIMIT 0,1
	</select>
	<insert id="insertDetails" useGeneratedKeys="true" keyProperty="billNO" parameterType="com.accp.erp.entity.Yxrequisitions" >
		INSERT INTO `yxrequisitions`
		<trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="billNO != null" >
	        billNO,
	      </if>
	      <if test="billDate != null" >
	        billDate,
	      </if>
	      <if test="billStyleID != null" >
	        billStyleID,
	      </if>
	      <if test="billStyleName != null" >
	        billStyleName,
	      </if>
	      <if test="billStatus != null" >
	        billStatus,
	      </if>
	      <if test="salesID != null" >
	        salesID,
	      </if>
	      <if test="salesName != null" >
	        salesName,
	      </if>
	      <if test="departID != null" >
	        departID,
	      </if>
	      <if test="departName != null" >
	        departName,
	      </if>
	      <if test="maker != null" >
	        maker,
	      </if>
	      <if test="permitter != null" >
	        permitter,
	      </if>
	      <if test="remark != null" >
	        remark,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="billNO != null" >
	        #{billNO,jdbcType=VARCHAR},
	      </if>
	      <if test="billDate != null" >
	        #{billDate,jdbcType=DATE},
	      </if>
	      <if test="billStyleID != null" >
	        #{billStyleID,jdbcType=VARCHAR},
	      </if>
	      <if test="billStyleName != null" >
	        #{billStyleName,jdbcType=VARCHAR},
	      </if>
	      <if test="billStatus != null" >
	        #{billStatus,jdbcType=VARCHAR},
	      </if>
	      <if test="salesID != null" >
	        #{salesID,jdbcType=VARCHAR},
	      </if>
	      <if test="salesName != null" >
	        #{salesName,jdbcType=VARCHAR},
	      </if>
	      <if test="departID != null" >
	        #{departID,jdbcType=VARCHAR},
	      </if>
	      <if test="departName != null" >
	        #{departName,jdbcType=VARCHAR},
	      </if>
	      <if test="maker != null" >
	        #{maker,jdbcType=VARCHAR},
	      </if>
	      <if test="permitter != null" >
	        #{permitter,jdbcType=VARCHAR},
	      </if>
	      <if test="remark != null" >
	        #{remark,jdbcType=VARCHAR},
	      </if>
	    </trim>
	</insert>
	 <!-- 通用查询结果列 -->
    <sql id="Base_Column_List1">
        billNO, billDate, serNO, prodID, prodName, prodSize, sUnit, sQuantity, curr, stdPrice, amount, lastestCurr, lastestPrice, lastestAmount, preInDate, suggestPurDate, qtyRemain, itemRemark, fromNO, tranType
    </sql>

	<insert id="insertRD" parameterType="com.accp.erp.entity.Yxrequisitions" >
  	  INSERT INTO `yxrequisitionsdetail` (<include refid="Base_Column_List1"/>) values 
      <foreach collection="yxrequisitionsdetails" item="rd" separator=",">
      	(#{billNO,jdbcType=VARCHAR},
	        #{billDate,jdbcType=DATE},
	        #{rd.serNO,jdbcType=VARCHAR},
	        #{rd.prodID,jdbcType=VARCHAR},
	        #{rd.prodName,jdbcType=VARCHAR},
	        #{rd.prodSize,jdbcType=VARCHAR},
	        #{rd.sUnit,jdbcType=VARCHAR},
	        #{rd.sQuantity,jdbcType=VARCHAR},
	        #{rd.curr,jdbcType=VARCHAR},
	        #{rd.stdPrice,jdbcType=VARCHAR},
	        #{rd.amount,jdbcType=VARCHAR},
	        #{rd.lastestCurr,jdbcType=VARCHAR},
	        #{rd.lastestPrice,jdbcType=VARCHAR},
	        #{rd.lastestAmount,jdbcType=VARCHAR},
	        #{rd.preInDate,jdbcType=VARCHAR},
	        #{rd.suggestPurDate,jdbcType=VARCHAR},
	        #{rd.qtyRemain,jdbcType=VARCHAR},
	        #{rd.itemRemark,jdbcType=VARCHAR},
	        #{rd.fromNO,jdbcType=VARCHAR},
	        #{rd.tranType,jdbcType=VARCHAR}
	        )
      </foreach>
  	</insert>
  	
  	
  	<select id="selectRdNO" resultMap="RequisitionsDetailMap" >
		SELECT * FROM `yxrequisitions` WHERE `billNO`=#{billNO}
	</select>
	<resultMap type="com.accp.erp.entity.Yxrequisitions" id="RequisitionsDetailMap" extends="BaseResultMap">
	  	<collection property="yxrequisitionsdetails" column="billNO" select="ddd">
	  		<result column="serNO" property="serNO" />
	        <result column="prodID" property="prodID" />
	        <result column="prodName" property="prodName" />
	        <result column="prodSize" property="prodSize" />
	        <result column="sUnit" property="sUnit" />
	        <result column="sQuantity" property="sQuantity" />
	        <result column="curr" property="curr" />
	        <result column="stdPrice" property="stdPrice" />
	        <result column="amount" property="amount" />
	        <result column="lastestCurr" property="lastestCurr" />
	        <result column="lastestPrice" property="lastestPrice" />
	        <result column="lastestAmount" property="lastestAmount" />
	        <result column="preInDate" property="preInDate" />
	        <result column="suggestPurDate" property="suggestPurDate" />
	        <result column="qtyRemain" property="qtyRemain" />
	        <result column="itemRemark" property="itemRemark" />
	        <result column="fromNO" property="fromNO" />
	        <result column="tranType" property="tranType" />
	  	</collection>
  	</resultMap>
  	<select id="ddd" resultType="com.accp.erp.entity.Yxrequisitionsdetail">
  		SELECT `serNO`,`prodID`,`prodName`,`prodSize`,`sUnit`,`sQuantity`,`curr`,`stdPrice`,`amount`,`lastestCurr`,`lastestPrice`,`lastestAmount`,`preInDate`,`suggestPurDate`,`qtyRemain`,`itemRemark`,`fromNO`,`tranType` FROM `yxrequisitionsdetail`
		WHERE `billNO`=#{billNO}
  	</select>
	
</mapper>
